body {
  background-color:#F8F8FF;
  color: #2F4F4F;
  font-family: Mono,helvetica;
  margin: 0;
}

header {
  padding: 10rem 3rem;
}

section {
  margin-bottom: 3rem;
}

a {
  color: #F8F8FF;
  text-decoration: none;
  transition: 300ms linear;
}
a:link {
  color: #dda4a4;
  text-decoration: none;
  transition: 300ms linear;
}
a:visited {
  color: #dda4a4;
  text-decoration: none;
  transition: 300ms linear;
}
a:hover {
  color: #e67c7c;
  text-decoration: none;
  transition: 300ms linear;
}
a:active {
  color: #e67c7c;
  text-decoration: none;
  transition: 300ms linear;
}

div.header {
  background-image: url(/premium-produce/assets/images/backdrop.png);
}

div.content {
  padding: 2rem;
}

img {
  max-width: 500px;
  max-height: 500px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}
